/* navbar */

.navbar ul{
    flex-wrap:wrap;
    justify-content:center;
}
.navbar ul li{
    font-size: 1.5rem;
}
.navbar ul li a{
    padding:6px;
    margin: 0 0;
}

/* home */

#home{
    height: fit-content;
}
#home::before{
    height: 939px;
}

/* about */

#para{
    width: 90%;
}

/* contact */

.input{
    width: 65%;
}
#msg{
    width: 65%;
}
#send{
    width: 20%;
}